.rule{
    --subreddit__sidebar-bg-color:  #251c00;
}

.rule{
    display: flex;
    flex-direction: column;
}

.rule__title:hover{
    background-color: var(--subreddit__sidebar-bg-color);
}

.rule__title{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
}

.rule__title p{
    flex: 0.7;
}

.rule__description li{
    padding: 5px 0px;
}

.rule__description{
    width: 76%;
}

.rule__description.hidden{
    display: none;
}

.rotateCW {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.rotateCCW {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}