.subreddit-banner{
    --fg-color: #ffffff;
    --subreddit-bg-color-light: #181100;
}

.subreddit-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: none;
    height: 220px;
    margin-bottom: 10px;
    margin-top: 6px;
    width: 100%;
    border-radius: 10px;
}

.subreddit-banner__cover{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #d3d3d3;
}

.subreddit-banner__cover img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.subreddit-banner__info{
    width : 95%;
    display: flex;
    align-items:end;
    justify-content: space-between;
    position: relative;
    bottom: 22%;
}

.subreddit-banner__subinfo-container{
    display: flex;
}

.subreddit-banner__subinfo
{ 
    align-self: flex-end;
}


.subreddit-banner__profile-picture img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid var(--subreddit-bg-color-light);
}

.subreddit-banner__title{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    color : white;
    margin-left: 5%;
}

.subreddit-banner__status{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subreddit-banner__status span{
    font-size: 0.5rem;
    display: flex;
}

.subreddit-banner__actions{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subreddit-banner__actions button{
    padding: 10px 20px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    height: 45px;
  }
  
  .subreddit-banner__actions button.rounded{
    padding: 10px 10px;
    width: 45px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .subreddit-banner__actions button.no-fill {
    border: 1px solid #b6b6b6;
    color: #ffffff;
    background-color: transparent;
  }

  .subreddit-banner__actions button.no-fill:hover {
    border: 1px solid #ffffff;
  }

  .subreddit-banner__actions button.fill-color {
    border: 1px solid #564b27;
    background-color: #564b27;
    color: white;
  }

  .subreddit-banner__actions button.fill-color:hover {
    background-color: #857541;
  }


  .subreddit-banner__actions .icon {
    height: 20px;
  }

  .subreddit-banner__actions button:first-child .icon{
    margin-right: 5px;
  }

  .subreddit-banner__status{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .subreddit-banner__status span{
    color: white;
    font-size: 0.5rem;
    display: flex;
  }

  .subreddit-banner__status span:first-child{
    margin-right: 5px;
  }
  .subreddit-banner__status span:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .subreddit-banner__status span .icon{
    margin-right: 2px;
    align-self: center;
  }

.hidden{
    display: none;
}


/* media queries */
@media (max-width: 1100px) {
    
    .subreddit-banner__cover{
        flex: 2;
    }
    
    .subreddit-banner__info{
        display: flex;
        flex: 5;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        bottom: 0%;
    }
    
    .subreddit-banner__subinfo
    {
        margin-top: 18px;
    }
    
    .subreddit-banner__profile-picture
    {
        display: flex;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .subreddit-banner__profile-picture img{
        width: 35px;
        height: 35px;
        border: 0px solid #ffffff;
        align-self: flex-end;
    }
    
    .subreddit-banner__title{
        font-size: 1rem;
        line-height: 1rem;
        margin: 0;
        margin-bottom: 5px;
    }
    
    .subreddit-banner__status{
        display: flex;
    }
    
    .subreddit-banner__actions{
        margin-top: 10px;
    }

    .subreddit-banner__actions button{
        font-size: 0.7rem;
    }

      .subreddit-banner__actions .icon {
        height: 14px;
      }
    
}