.subreddit-sidebar-item{
    --primary-bg-color: #25201a;
}

.subreddit-sidebar-item{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid #25201a;
}
