.iVYauV_t6_ChREoxhNGsU{
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.ffGjaCMPoTUkhkVp6rHw5{
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    display: block;
    text-transform: uppercase;
}

