._1Fa5Xv7f16v5IC2Tq1m2Fy {
    border-bottom: 1px solid var(--newCommunityTheme-line);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 16px;
}
._1zTJo0Ndih4fp__5DjbClN {
    display: flex;
    flex-direction: row;
}
._1zTJo0Ndih4fp__5DjbClN {
    display: flex;
    flex-direction: row;
}

._5gAwSCo7K8G413IoE78Ml {
    color: var(--newCommunityTheme-bodyText);
    flex: 1 1 100%;
    width: 100%;
}
._5gAwSCo7K8G413IoE78Ml {
    color: var(--newCommunityTheme-bodyText);
    flex: 1 1 100%;
    width: 100%;
}

._2ghjBMFIsORwdO3oh2Kq6g {
    flex: 0 0;
}
._2ghjBMFIsORwdO3oh2Kq6g {
    flex: 0 0;
}

._1uaasV6RaxBfRyVgQJdiKs, .eLnlHLGCDxjFf3jfGTcZu {
    color: var(--newCommunityTheme-bodyText);
}
.eLnlHLGCDxjFf3jfGTcZu {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.qYzY57HWQ8W424hj3s10- {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    background: transparent;
    border: none;
    padding: 0;
    text-decoration: underline;
}

.zKQ8lyAF3pYyDoSlTpTjA {
    display: flex;
}

._1Fa5Xv7f16v5IC2Tq1m2Fy svg {
    display: block;
}

._3XSQHPxjCTSWWZh_u-d0Xf {
    height: 16px;
    width: 16px;
    fill: var(--newCommunityTheme-actionIcon);
}

._1uaasV6RaxBfRyVgQJdiKs {
    padding: 16px;
}

._1uaasV6RaxBfRyVgQJdiKs, .eLnlHLGCDxjFf3jfGTcZu {
    color: var(--newCommunityTheme-bodyText);
}
._1uaasV6RaxBfRyVgQJdiKs {
    padding: 16px;
}
._1uaasV6RaxBfRyVgQJdiKs, .eLnlHLGCDxjFf3jfGTcZu {
    color: var(--newCommunityTheme-bodyText);
}


._3xiY8nTCVp16qSb6CGW2Kv {
    display: block;
    margin-bottom: 16px;
}

._26a81Mk5bsppGjI9AXbmWS {
    display: block;
}

._1AlCnggMuPLxxDUbWWhG2q {
    padding-bottom: 8px;
}
._1y0X9006mE_5nlHfol1nc2, ._1AlCnggMuPLxxDUbWWhG2q {
    font-family: Noto Sans, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
._3cwQrg-XvocnoG0U22wT8t, .mFTHPdbEAklUs8yhT4Xm7 {
    font-family: Noto Sans, Arial, sans-serif;
    font-weight: 400;
    color: var(--newCommunityTheme-bodyText);
}
.mFTHPdbEAklUs8yhT4Xm7 {
    font-size: 14px;
    line-height: 21px;
    display: block;
}

._1brIoxFWlohWpvu34OwZQP, ._1hdSGf--gQDRwsU96bzao1, .QP-_TXfrh6G1-IRJif4Cy {
    font-family: Noto Sans, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding: 8px;
}
.QP-_TXfrh6G1-IRJif4Cy {
    height: 48px;
    max-height: 70px;
    resize: vertical;
}
._2h8O7PjrCXfaJJWKrAxJPL {
    background-color: var(--newCommunityTheme-body);
    border: 1px solid var(--newCommunityTheme-line);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--newCommunityTheme-bodyText);
    display: block;
    height: 78px;
    padding: 9px 10px;
    width: 100%;
}
._2h8O7PjrCXfaJJWKrAxJPL {
    background-color: var(--newCommunityTheme-body);
    border: 1px solid var(--newCommunityTheme-line);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--newCommunityTheme-bodyText);
    display: block;
    height: 78px;
    padding: 9px 10px;
    width: 100%;
}

.s5ap8yh1b4ZfwxvHizW3f {
    color: var(--newCommunityTheme-metaText);
    padding-top: 5px;
}
._1h0r6vtgOzgWtu-GNBO6Yb {
    font-weight: 400;
}
._1h0r6vtgOzgWtu-GNBO6Yb, ._3ds8Wk2l32hr3hLddQshhG {
    font-size: 12px;
    line-height: 16px;
    color: var(--newCommunityTheme-actionIcon);
}

._2I1A_fyvhaC7TYrYwA047Y {
    font-family: Noto Sans, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 8px 0;
}
._3cwQrg-XvocnoG0U22wT8t, .mFTHPdbEAklUs8yhT4Xm7 {
    font-family: Noto Sans, Arial, sans-serif;
    font-weight: 400;
    color: var(--newCommunityTheme-bodyText);
}
.mFTHPdbEAklUs8yhT4Xm7 {
    font-size: 14px;
    line-height: 21px;
    display: block;
}
._3cwQrg-XvocnoG0U22wT8t, .mFTHPdbEAklUs8yhT4Xm7 {
    font-family: Noto Sans, Arial, sans-serif;
    font-weight: 400;
    color: var(--newCommunityTheme-bodyText);
}
.mFTHPdbEAklUs8yhT4Xm7 {
    font-size: 14px;
    line-height: 21px;
    display: block;
}

._1KFGHoJGHbU05yh6-sQIr5 {
    font-family: Noto Sans, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    cursor: pointer;
    padding: 4px 0;
}
.XZK-LTFT5CgGo9MvPQQsy {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
}
.XZK-LTFT5CgGo9MvPQQsy {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
}

._1lzSnSABNXX12WerTnwqI3, ._3PYsg_uRJ6AGptv-hi7kqu {
    -ms-flex: 0 0 16px;
    flex: 0 0 16px;
    height: 16px;
    margin-right: 6px;
    width: 16px;
}
._3PYsg_uRJ6AGptv-hi7kqu {
    fill: #0079d3;
}
._1lzSnSABNXX12WerTnwqI3, ._3PYsg_uRJ6AGptv-hi7kqu {
    -ms-flex: 0 0 16px;
    flex: 0 0 16px;
    height: 16px;
    margin-right: 6px;
    width: 16px;
}
._3PYsg_uRJ6AGptv-hi7kqu {
    fill: #0079d3;
}

._360Lh4DKj256s8RdElARFo {
    display: inline;
}
._3cwQrg-XvocnoG0U22wT8t, .mFTHPdbEAklUs8yhT4Xm7 {
    font-family: Noto Sans, Arial, sans-serif;
    font-weight: 400;
    color: var(--newCommunityTheme-bodyText);
}
.mFTHPdbEAklUs8yhT4Xm7 {
    font-size: 14px;
    line-height: 21px;
    display: block;
}
._3cwQrg-XvocnoG0U22wT8t, .mFTHPdbEAklUs8yhT4Xm7 {
    font-family: Noto Sans, Arial, sans-serif;
    font-weight: 400;
    color: var(--newCommunityTheme-bodyText);
}
.mFTHPdbEAklUs8yhT4Xm7 {
    font-size: 14px;
    line-height: 21px;
    display: block;
}

._3xiY8nTCVp16qSb6CGW2Kv {
    display: block;
    margin-bottom: 16px;
}
._3xiY8nTCVp16qSb6CGW2Kv {
    display: block;
    margin-bottom: 16px;
}

._2I1A_fyvhaC7TYrYwA047Y {
    font-family: Noto Sans, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: 8px 0;
}
._3cwQrg-XvocnoG0U22wT8t, .mFTHPdbEAklUs8yhT4Xm7 {
    font-family: Noto Sans, Arial, sans-serif;
    font-weight: 400;
    color: var(--newCommunityTheme-bodyText);
}
.mFTHPdbEAklUs8yhT4Xm7 {
    font-size: 14px;
    line-height: 21px;
    display: block;
}
._3cwQrg-XvocnoG0U22wT8t, .mFTHPdbEAklUs8yhT4Xm7 {
    font-family: Noto Sans, Arial, sans-serif;
    font-weight: 400;
    color: var(--newCommunityTheme-bodyText);
}
.mFTHPdbEAklUs8yhT4Xm7 {
    font-size: 14px;
    line-height: 21px;
    display: block;
}

._1brIoxFWlohWpvu34OwZQP, ._1hdSGf--gQDRwsU96bzao1, .QP-_TXfrh6G1-IRJif4Cy {
    font-family: Noto Sans, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding: 8px;
}
._1brIoxFWlohWpvu34OwZQP {
    height: 96px;
    max-height: 200px;
    resize: vertical;
}
._2h8O7PjrCXfaJJWKrAxJPL {
    background-color: var(--newCommunityTheme-body);
    border: 1px solid var(--newCommunityTheme-line);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--newCommunityTheme-bodyText);
    display: block;
    height: 78px;
    padding: 9px 10px;
    width: 100%;
}
._2h8O7PjrCXfaJJWKrAxJPL {
    background-color: var(--newCommunityTheme-body);
    border: 1px solid var(--newCommunityTheme-line);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--newCommunityTheme-bodyText);
    display: block;
    height: 78px;
    padding: 9px 10px;
    width: 100%;
}

.s5ap8yh1b4ZfwxvHizW3f {
    color: var(--newCommunityTheme-metaText);
    padding-top: 5px;
}
._1h0r6vtgOzgWtu-GNBO6Yb {
    font-weight: 400;
}
._1h0r6vtgOzgWtu-GNBO6Yb, ._3ds8Wk2l32hr3hLddQshhG {
    font-size: 12px;
    line-height: 16px;
    color: var(--newCommunityTheme-actionIcon);
}

.R-9ebJbU9igzPDfUi4Txg {
    background-color: var(--newCommunityTheme-line);
    border-top: 1px solid var(--newCommunityTheme-line);
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-pack: start;
    justify-content: flex-start;
    display: -ms-flexbox;
    display: flex;
    padding: 16px;
}
._-0i7atRJ5NBsrRM5wuPpX {
    background-color: var(--newCommunityTheme-line);
    border-top: 1px solid var(--newCommunityTheme-line);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
._-0i7atRJ5NBsrRM5wuPpX {
    background-color: var(--newCommunityTheme-line);
    border-top: 1px solid var(--newCommunityTheme-line);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

._10BQ7pjWbeYP63SAPNS8Ts:disabled, ._10BQ7pjWbeYP63SAPNS8Ts[data-disabled], ._10BQ7pjWbeYP63SAPNS8Ts[disabled] {
    cursor: not-allowed;
    filter: grayscale(1);
    background-color: var(--newCommunityTheme-buttonTinted80);
    color: var(--newCommunityTheme-bodyAlpha50);
    fill: var(--newCommunityTheme-bodyAlpha50);
}
.hHFW3BkgX7tSn5Nev-ooY {
    margin-left: 16px;
}
._10BQ7pjWbeYP63SAPNS8Ts {
    position: relative;
    background-color: var(--newCommunityTheme-button);
    border: none;
    color: var(--newCommunityTheme-body);
    fill: var(--newCommunityTheme-body);
}
.HNozj_dKjQZ59ZsfEegz8 {
    font-family: Noto Sans, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: unset;
    line-height: 17px;
    text-transform: unset;
    min-height: 32px;
    min-width: 32px;
    padding: 4px 16px;
}
._2iuoyPiKHN3kfOoeIQalDT {
    -ms-flex-align: center;
    align-items: center;
    border-radius: 9999px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    text-align: center;
    width: auto;
}

._1QUX9-zZuGtifS6jJBUyh- {
    border-color: var(--newCommunityTheme-actionIcon);
    color: var(--newCommunityTheme-actionIcon);
}
._2tU8R9NTqhvBrhoNAXWWcP {
    position: relative;
    border: 1px solid var(--newCommunityTheme-button);
    color: var(--newCommunityTheme-button);
    fill: var(--newCommunityTheme-button);
}
.HNozj_dKjQZ59ZsfEegz8 {
    font-family: Noto Sans, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: unset;
    line-height: 17px;
    text-transform: unset;
    min-height: 32px;
    min-width: 32px;
    padding: 4px 16px;
}
._2iuoyPiKHN3kfOoeIQalDT {
    -ms-flex-align: center;
    align-items: center;
    border-radius: 9999px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    text-align: center;
    width: auto;
}
._1QUX9-zZuGtifS6jJBUyh- {
    border-color: var(--newCommunityTheme-actionIcon);
    color: var(--newCommunityTheme-actionIcon);
}

._10BQ7pjWbeYP63SAPNS8Ts:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    background: var(--newCommunityTheme-body);
    opacity: 0;
}
._10BQ7pjWbeYP63SAPNS8Ts:hover:before {
    opacity: .04;
}


._2tU8R9NTqhvBrhoNAXWWcP:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    background: var(--newCommunityTheme-button);
    opacity: 0;
}

._2tU8R9NTqhvBrhoNAXWWcP:hover:before {
    opacity: .04;
}

._2yAePObDkhgZql3P1FHRu1 {
    margin-right: auto;
}
._2ulRgczjI5SWCMgSA1CNLj {
    color: #ea0027;
}
._3zbhtNO0bdck0oYbYRhjMC {
    position: relative;
    border: 1px solid transparent;
    color: var(--newCommunityTheme-button);
    fill: var(--newCommunityTheme-button);
}
.HNozj_dKjQZ59ZsfEegz8 {
    font-family: Noto Sans, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: unset;
    line-height: 17px;
    text-transform: unset;
    min-height: 32px;
    min-width: 32px;
    padding: 4px 16px;
}
._2iuoyPiKHN3kfOoeIQalDT {
    -ms-flex-align: center;
    align-items: center;
    border-radius: 9999px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    text-align: center;
    width: auto;
}
._2ulRgczjI5SWCMgSA1CNLj {
    color: #ea0027;
}