.post-creation-upload_btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    background: var(--newCommunityTheme-button);
    opacity: 0;
}

.post-creation-upload_btn:hover::before{
    opacity: .08;
}

.post-creation-upload_btn:active::before{
    opacity: .16;
}