._2xRLFCFyi-_HwZoUJPlLC_ ._2-rpR3swo9nJDSZs_i8E44 {
    max-width: 856px;
    min-width: 600px;
    overflow: visible;
    padding-top: 64px;
}
@media (min-width: 640px) {
    ._3mbqgd00Kdlh6nVVVhZYdS {
        margin-left: 24px;
        margin-right: 24px;
    }
}
._3mbqgd00Kdlh6nVVVhZYdS {
    padding-top: 64px;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}

._3rnK1gNGg1hiVaiRd9Hidl {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: var(--newRedditTheme-bodyText);
    margin-bottom: 16px;
}


._3-yXs2bljbMxTPT6hDZU1I {
    margin-left: 4px;
    vertical-align: text-top;
}

.icon-222 {
    font-size: 20px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    width: 20px;
}
._2Eloqzd6Vfz9eGsjyzVfsf {
    color: var(--newRedditTheme-button);
    vertical-align: middle;
}

._2xRLFCFyi-_HwZoUJPlLC_ ._2QhtAlu6f0_8F9xR-QkqGZ {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--newCommunityTheme-bodyText);
    margin-bottom: 16px;
}

._1d945r4X4wXFWdEw_bWVWK {
    background: var(--newCommunityTheme-body);
    padding: 16px 24px 120px;
    position: relative;
}

._36NG9T5luXl1lTigni_X6H {
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    border-bottom: 1px solid var(--newCommunityTheme-line);
    color: var(--newCommunityTheme-bodyText);
    padding-bottom: 12px;
    width: 100%;
}

._1d945r4X4wXFWdEw_bWVWK ._1yyj9tAQLKPfYxZs1IsMn0 {
    margin: 16px 0;
}
._2f63as5b5FASHMqGd5P1o0 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-bottom: 32px;
}

._3dLmvT0hpACHFxhncqzCOr {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 8px;
    max-width: 80%;
}

._3dLmvT0hpACHFxhncqzCOr {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 8px;
    max-width: 80%;
}

.XZK-LTFT5CgGo9MvPQQsy {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
}
.XZK-LTFT5CgGo9MvPQQsy {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
}

.XZK-LTFT5CgGo9MvPQQsy {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
}
.XZK-LTFT5CgGo9MvPQQsy {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
}

._2nyJGeaFJbXTqTh9OGwxfu {
    font-weight: 400;
    color: var(--newCommunityTheme-metaText);
}
._3uShGanwyVFBaTiPMFzfAC, ._2nyJGeaFJbXTqTh9OGwxfu {
    font-size: 12px;
    line-height: 16px;
}
._2nyJGeaFJbXTqTh9OGwxfu {
    font-weight: 400;
    color: var(--newCommunityTheme-metaText);
}
._3uShGanwyVFBaTiPMFzfAC, ._2nyJGeaFJbXTqTh9OGwxfu {
    font-size: 12px;
    line-height: 16px;
}

._1oREjd5ToMFah-VfX5Zt1z {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

._1kylDjSQ2hay_ez0zF7BEP {
    float: right;
    position: relative;
}

._2xRLFCFyi-_HwZoUJPlLC_ ._2-rpR3swo9nJDSZs_i8E44 {
    max-width: 856px;
    min-width: 600px;
    overflow: visible;
    padding-top: 64px;
}
@media (min-width: 640px) {
    ._3mbqgd00Kdlh6nVVVhZYdS {
        margin-left: 24px;
        margin-right: 24px;
    }
}
._3mbqgd00Kdlh6nVVVhZYdS {
    padding-top: 64px;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}

._2xRLFCFyi-_HwZoUJPlLC_ ,._2QhtAlu6f0_8F9xR-QkqGZ {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--newCommunityTheme-bodyText);
    margin-bottom: 16px;
}


._2nyJGeaFJbXTqTh9OGwxfu {
    font-weight: 400;
    color: var(--newCommunityTheme-metaText);
}
._3uShGanwyVFBaTiPMFzfAC, ._2nyJGeaFJbXTqTh9OGwxfu {
    font-size: 12px;
    line-height: 16px;
}

._2nyJGeaFJbXTqTh9OGwxfu {
    font-weight: 400;
    color: var(--newCommunityTheme-metaText);
}
._3uShGanwyVFBaTiPMFzfAC, ._2nyJGeaFJbXTqTh9OGwxfu {
    font-size: 12px;
    line-height: 16px;
}

.asxizthf5kZpmoY27VBKd {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: var(--newCommunityTheme-bodyText);
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 4px;
}




