._2Z3MiFrgj2rofHXrH1YVKn {
    width: 100%;
    box-sizing: border-box;
}

.zm-d6hGDaBlN7C9OEx3rJ {
    padding-right: 24px;
}
._2YY5qLRbI5q6_0JQVKiGt_ {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 48px;
    -ms-flex-pack: end;
    justify-content: flex-end;
    left: 280px;
    right: 0;
    z-index: 3;
    top: 89px;
}
.hhh-pr-0 {
    padding-right: 0px;
}
.hhh-bg-neutral-background {
    background-color: var(--color-neutral-background);
}
.hhh-mb-xs {
    margin-bottom: 0.5rem;
}
.hhh-fixed {
    position: fixed;
}

._10BQ7pjWbeYP63SAPNS8Ts {
    position: relative;
    background-color: var(--newCommunityTheme-button);
    border: none;
    color: var(--newCommunityTheme-body);
    fill: var(--newCommunityTheme-body);
}
.HNozj_dKjQZ59ZsfEegz8 {
    font-family: Noto Sans, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: unset;
    line-height: 17px;
    text-transform: unset;
    min-height: 32px;
    min-width: 32px;
    padding: 4px 16px;
}
._2iuoyPiKHN3kfOoeIQalDT {
    -ms-flex-align: center;
    align-items: center;
    border-radius: 9999px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    text-align: center;
    width: auto;
}

._10BQ7pjWbeYP63SAPNS8Ts:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    background: var(--newCommunityTheme-body);
    opacity: 0;
}

._10BQ7pjWbeYP63SAPNS8Ts:hover:before {
    opacity: 0.08;
}

._3BPVpMSn5b1vb1yTQuqCRH, ._1wzhGvvafQFOWAyA157okr {
    display: inline-block;
    height: 16px;
}
._1wzhGvvafQFOWAyA157okr {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    border-radius: 2px;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: text-bottom;
    white-space: pre;
    word-break: normal;
    box-sizing: border-box;
    line-height: 14px;
    padding: 0 4px;
}


@media (min-width: 640px) {
    ._3mbqgd00Kdlh6nVVVhZYdS {
        margin-left: 24px;
        margin-right: 24px;
    }
}
._3mbqgd00Kdlh6nVVVhZYdS {
    padding-top: 10px;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}

._2i38uCMOvjLO0N4T-QGmV1, ._2HS4U5X7Rt3fT__Kpgmp9M {
    display: -ms-flexbox;
    display: flex;
}
.q9zqS5nIMgIr22a55zflg, ._2HS4U5X7Rt3fT__Kpgmp9M {
    -ms-flex-align: center;
    align-items: center;
}
._3rnK1gNGg1hiVaiRd9Hidl {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: var(--newRedditTheme-bodyText);
    margin-bottom: 16px;
}

._2i38uCMOvjLO0N4T-QGmV1, ._2HS4U5X7Rt3fT__Kpgmp9M {
    display: -ms-flexbox;
    display: flex;
}
.q9zqS5nIMgIr22a55zflg, ._2HS4U5X7Rt3fT__Kpgmp9M {
    -ms-flex-align: center;
    align-items: center;
}

._3rnK1gNGg1hiVaiRd9Hidl {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: var(--newRedditTheme-bodyText);
    margin-bottom: 16px;
}

._2i38uCMOvjLO0N4T-QGmV1 {
    -ms-flex-align: start;
    align-items: flex-start;
}


@media (min-width: 960px) {
    .Q7W5RJknO1UJ-qscCW0k6 {
        margin-right: 12px;
    }
}
.Q7W5RJknO1UJ-qscCW0k6 {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
}


._2toQcR3aw1_hj1A49e4wi7, ._3Pz5gIKK5q2FYttguHTNa3 {
    display: inline-block;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

._26zeT5d9JKXWbWzOT4ncpg {
    margin-bottom: 4px;
}

.qDE3oDok1392-t8IDOBfk {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    background-color: var(--newCommunityTheme-postTransparent20);
    border: 1px solid var(--newCommunityTheme-postLine);
    border-bottom: none;
    padding: 4px 4px 4px 12px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 640px) {
    .bE7JgM2ex7W3aF3zci5bm {
        padding-left: 40px;
    }
}
.bE7JgM2ex7W3aF3zci5bm {
    overflow: hidden;
    position: relative;
}
._2yN8L-c8UBoKxHn0-vg_dS, .bE7JgM2ex7W3aF3zci5bm {
    border: thin solid var(--newCommunityTheme-postLine);
    margin-bottom: -1px;
    position: relative;
    z-index: 0;
}

._2sfIhl6E6vfZCwxx54EUNB {
    height: 16px;
    width: 16px;
    margin-right: 8px;
}
._3dezPhiKJXkVFXj94zLKcs {
    fill: var(--newCommunityTheme-actionIcon);
}

@media (min-width: 640px) {
    .bE7JgM2ex7W3aF3zci5bm {
        padding-left: 40px;
    }
}
.bE7JgM2ex7W3aF3zci5bm {
    overflow: hidden;
    position: relative;
}
._2yN8L-c8UBoKxHn0-vg_dS, .bE7JgM2ex7W3aF3zci5bm {
    border: thin solid var(--newCommunityTheme-postLine);
    margin-bottom: -1px;
    position: relative;
    z-index: 0;
}

._23h0-EcaBUorIHC-JZyh6J {
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    left: 0;
    padding: 8px 4px 8px 0;
    position: absolute;
    top: 0;
}

._1E9mcoVn4MYnuBQSVDt1gC {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    fill: inherit;
    -ms-flex-direction: column;
    flex-direction: column;
}
._1E9mcoVn4MYnuBQSVDt1gC {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    fill: inherit;
    -ms-flex-direction: column;
    flex-direction: column;
}

.mvlZFfW9BWm1bmljE_0Rg {
    cursor: not-allowed;
}
.mvlZFfW9BWm1bmljE_0Rg {
    cursor: not-allowed;
}


._1rZYMD_4xY3gRcSS3p8ODO {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    pointer-events: none;
    word-break: normal;
}
._1rZYMD_4xY3gRcSS3p8ODO {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    pointer-events: none;
    word-break: normal;
}

._3SUsITjKNQ7Tp0Wi2jGxIM {
    color: var(--newCommunityTheme-actionIcon);
}
._2q7IQ0BUOWeEZoeAxN555e {
    display: inline-block;
    overflow: hidden;
    height: 24px;
    width: 24px;
    font-size: 16px;
    line-height: 24px;
}
._3SUsITjKNQ7Tp0Wi2jGxIM {
    color: var(--newCommunityTheme-actionIcon);
}
._2q7IQ0BUOWeEZoeAxN555e {
    display: inline-block;
    overflow: hidden;
    height: 24px;
    width: 24px;
    font-size: 16px;
    line-height: 24px;
}

.geso-icon._2Jxk822qXs4DaXwsN7yyHA {
    line-height: 24px;
    position: relative;
}
.geso-icon._2Jxk822qXs4DaXwsN7yyHA {
    line-height: 24px;
    position: relative;
}
.geso-icon {
    font-size: 20px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    width: 20px;
}

._1-tY_25z_pkhbFvUz2-AqS {
    display: inline;
    vertical-align: text-top;
}

._2KWv8ukh9RMgpOturAiV9z {
    background-color: #fff;
    position: relative;
    min-height: 80px;
}

._3pHV3zwe-Q9-xNEB0iM3WT {
    position: relative;
    padding: 8px 8px 0;
    box-sizing: border-box;
}

@media (min-width: 420px) {
    ._2UwJRJuqEbkRCV8O6REq8h._2UwJRJuqEbkRCV8O6REq8h {
        display: flex;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        height: 60px;
    }
}
@media (min-width: 414px) {
    ._2UwJRJuqEbkRCV8O6REq8h._2UwJRJuqEbkRCV8O6REq8h {
        display: flex;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        height: 60px;
    }
}
@media (min-width: 375px) {
    ._2UwJRJuqEbkRCV8O6REq8h._2UwJRJuqEbkRCV8O6REq8h {
        display: flex;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        height: 60px;
    }
}
@media (min-width: 320px) {
    ._2UwJRJuqEbkRCV8O6REq8h._2UwJRJuqEbkRCV8O6REq8h {
        display: flex;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        height: 60px;
    }
}
._2UwJRJuqEbkRCV8O6REq8h._2UwJRJuqEbkRCV8O6REq8h {
    display: flex;
    margin-right: 8px;
    background-color: var(--newCommunityTheme-bodyTextAlpha03);
}

._3bAfM2inJTjD3ZXNzO5nE5 {
    font-weight: 700;
    margin-left: 2px;
}

.Q0BxYHtCOJ_rNSPJMU2Y7 {
    color: var(--newCommunityTheme-actionIcon);
}
._1iKd82bq_nqObFvSH1iC_Q {
    display: inline-block;
    overflow: hidden;
    height: 24px;
    width: 24px;
    font-size: 16px;
    line-height: 24px;
}

.geso-icon.ZyxIIl4FP5gHGrJDzNpUC {
    line-height: 24px;
    position: relative;
}
.geso-icon.ZyxIIl4FP5gHGrJDzNpUC {
    line-height: 24px;
    position: relative;
}


@media (max-width: 639px) {
    ._38EcSQ9jzVrdtzkXO1cydX {
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: end;
        align-items: flex-end;
        -ms-flex-direction: column;
        flex-direction: column;
        min-height: 80px;
    }
}
@media (min-width: 436px) {
    ._38EcSQ9jzVrdtzkXO1cydX {
        display: flex;
        -ms-flex: 0 0 96px;
        flex: 0 0 96px;
        height: 72px;
    }
}
@media (min-width: 414px) {
    ._38EcSQ9jzVrdtzkXO1cydX {
        display: flex;
        -ms-flex: 0 0 96px;
        flex: 0 0 96px;
        height: 72px;
    }
}
@media (min-width: 375px) {
    ._38EcSQ9jzVrdtzkXO1cydX {
        display: flex;
        -ms-flex: 0 0 96px;
        flex: 0 0 96px;
        height: 72px;
    }
}
@media (min-width: 320px) {
    ._38EcSQ9jzVrdtzkXO1cydX {
        display: flex;
        -ms-flex: 0 0 96px;
        flex: 0 0 96px;
        height: 72px;
    }
}
._38EcSQ9jzVrdtzkXO1cydX {
    display: none;
    border-radius: 4px;
    display: block;
}

._2MkcR85HDnYngvlVW2gMMa {
    border-radius: 4px;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    vertical-align: bottom;
}
._2e9Lv1I3dOmICVO9fg3uTG._2e9Lv1I3dOmICVO9fg3uTG {
    transition: filter .5s;
    height: 72px;
    width: 96px;
    border: none;
    border-radius: 4px;
}
._2c1ElNxHftd8W_nZtcG9zf, ._78ohNtfA1urjgUhnN1jLi {
    height: 100%;
}
._2c1ElNxHftd8W_nZtcG9zf {
    border-radius: 4px;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    border: 1px solid;
    box-sizing: border-box;
}
._2YO2O4rMRYYMeH_t2y8M5w {
    background-color: transparent;
    color: var(--newCommunityTheme-button);
    position: relative;
}



._38EcSQ9jzVrdtzkXO1cydX {
    display: none;
    border-radius: 4px;
    display: block;
}

._2MkcR85HDnYngvlVW2gMMa {
    border-radius: 4px;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    vertical-align: bottom;
}

._2e9Lv1I3dOmICVO9fg3uTG._2e9Lv1I3dOmICVO9fg3uTG {
    transition: filter .5s;
    height: 72px;
    width: 96px;
    border: none;
    border-radius: 4px;
}
._2c1ElNxHftd8W_nZtcG9zf, ._78ohNtfA1urjgUhnN1jLi {
    height: 100%;
}
._2c1ElNxHftd8W_nZtcG9zf {
    border-radius: 4px;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    border: 1px solid;
    box-sizing: border-box;
}
._2YO2O4rMRYYMeH_t2y8M5w {
    background-color: transparent;
    color: var(--newCommunityTheme-button);
    position: relative;
}

._2hIvPRO2xz4rn9LXAJXYDa._10qSZsDWnOBwx4bc7GJ1QF {
    color: var(--newCommunityTheme-actionIcon);
}
.geso-icon {
    font-size: 20px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    width: 20px;
}
.geso-icon {
    font-size: 20px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    width: 20px;
}
._2hIvPRO2xz4rn9LXAJXYDa {
    color: var(--newCommunityTheme-button);
    height: 20px;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    width: 20px;
}
._3CquMWJ6RMh8E9D-_84AtZ {
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.geso-icon-text_post:before {
    content: "\f2b4";
}
.geso-icon:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: redesignFont2020;
}

.hAQclO6xLNG3WDMgkywGo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

._3jA9JBnv4bqmmiAw3Akmug {
    display: inline;
    padding-right: 5px;
    word-wrap: break-word;
    color: var(--newCommunityTheme-titleText);
    vertical-align: baseline;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

._1-tY_25z_pkhbFvUz2-AqS {
    display: inline;
    vertical-align: text-top;
}

._297_pyPlxmqBF0tLkUhTME {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 4px;
}
._3ryJoIoycVkA88fy40qNJc {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: var(--newCommunityTheme-bodyText);
    display: inline;
    line-height: 20px;
    text-decoration: none;
    vertical-align: baseline;
}
._3ryJoIoycVkA88fy40qNJc {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: var(--newCommunityTheme-bodyText);
    display: inline;
    line-height: 20px;
    text-decoration: none;
    vertical-align: baseline;
}

._3LS4zudUBagjFS7HjWJYxo {
    margin: 0 4px;
}


._23wugcdiaj44hdfugIAlnX.oQctV4n0yUb0uiHDdGnmE {
    color: inherit;
}
._1k9D_vEsQ8odWCNERbDOxX {
    margin-right: 4px;
}
._23wugcdiaj44hdfugIAlnX {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--newCommunityTheme-linkText);
}

.P7KCCrRfT4TO2wcnk_Kjv {
    margin-bottom: 6px;
}

._1AkGbjxtRpq3ZhKADdUTU3 {
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    padding: 4px;
    border-radius: 2px;
}

._1xM2tjm8c7LuqnoEJG1Ws1 {
    color: var(--newCommunityTheme-actionIcon);
    display: inline-block;
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    vertical-align: text-bottom;
    width: 16px;
}

._1xM2tjm8c7LuqnoEJG1Ws1 {
    color: var(--newCommunityTheme-actionIcon);
    display: inline-block;
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    vertical-align: text-bottom;
    width: 16px;
}

._1AkGbjxtRpq3ZhKADdUTU3 {
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    padding: 4px;
    border-radius: 2px;
}

._1xM2tjm8c7LuqnoEJG1Ws1 {
    color: var(--newCommunityTheme-actionIcon);
    display: inline-block;
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    vertical-align: text-bottom;
    width: 16px;
}
._1Fa4RPHlhrfUZuNaXK2-eP {
    fill: var(--newCommunityTheme-actionIcon);
}

._2pFdCpgBihIaYh9DSMWBIu.uMPgOFYlCc5uvpa2Lbteu {
    border-radius: 2px;
}
._2pFdCpgBihIaYh9DSMWBIu {
    height: 24px;
}

._3Pz5gIKK5q2FYttguHTNa3 {
    max-width: 332px;
    margin-bottom: 12px;
}
._2toQcR3aw1_hj1A49e4wi7, ._3Pz5gIKK5q2FYttguHTNa3 {
    display: inline-block;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
._1qL48rnJIqcVj5nNuXkDSw {
    border: 1px solid var(--newCommunityTheme-postLine);
    background-color: var(--newCommunityTheme-postTransparent20);
}

._3Pz5gIKK5q2FYttguHTNa3 {
    max-width: 332px;
    margin-bottom: 12px;
}
._2toQcR3aw1_hj1A49e4wi7, ._3Pz5gIKK5q2FYttguHTNa3 {
    display: inline-block;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
._1qL48rnJIqcVj5nNuXkDSw {
    border: 1px solid var(--newCommunityTheme-postLine);
    background-color: var(--newCommunityTheme-postTransparent20);
}

._1XAvW8OS9HO-SVS7BDAIGe {
    color: var(--newCommunityTheme-bodyText);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: auto;
}

.p9wLLlADU1pVQu4nx3HCF {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 12px;
    text-transform: uppercase;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid var(--newCommunityTheme-postLine);
    padding: 12px;
}

._1Aurc-hBrd1zsfrQxHeZoq {
    padding: 30px;
}
.FIy4e_7DNe0P9cdi_1jVn {
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--newCommunityTheme-body);
    border-radius: 4px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 90px 0;
}

._3lBUQT-Vexm0jXk3WmIYJq {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 20px;
    min-width: 20px;
}

._3V0T64xptTp5xLaY-1nsaz {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding-top: 30px;
    color: var(--newCommunityTheme-actionIcon);
}

._1Aurc-hBrd1zsfrQxHeZoq {
    padding: 30px;
}
.FIy4e_7DNe0P9cdi_1jVn {
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--newCommunityTheme-body);
    border-radius: 4px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 90px 0;
}

.geso-icon._1BRYUIpfNcLUEr5L8DeJ8i {
    color: var(--newCommunityTheme-actionIcon);
    font-size: 30px;
    height: 30px;
    margin-top: 26px;
    margin-bottom: 26px;
    width: 30px;
}
.geso-icon {
    font-size: 20px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    width: 20px;
}

._1mxUgytAdxfLqJuzRgGifT {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--newCommunityTheme-button);
}



.geso-icon {
    font-size: 20px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    width: 20px;
}
._38GxRFSqSC-Z2VLi5Xzkjy {
    color: var(--newCommunityTheme-actionIcon);
}
.geso-icon {
    font-size: 20px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    width: 20px;
}

._3Pz5gIKK5q2FYttguHTNa3 {
    max-width: 332px;
    margin-bottom: 12px;
}
._2toQcR3aw1_hj1A49e4wi7, ._3Pz5gIKK5q2FYttguHTNa3 {
    display: inline-block;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
._1qL48rnJIqcVj5nNuXkDSw {
    border: 1px solid var(--newCommunityTheme-postLine);
    background-color: var(--newCommunityTheme-postTransparent20);
}