.post-creation-form-footer__primaryBtn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    background: var(--newCommunityTheme-body);
    opacity: 0;
}

.post-creation-form-footer__primaryBtn:hover::before{
    opacity: .08;
}

.post-creation-form-footer__borderedBtn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    background: var(--newCommunityTheme-button);
    opacity: 0;
}

.post-creation-form-footer__borderedBtn:hover::before{
    opacity: .08;
}

.post-creation-form-footer__primaryBtn:disabled{
    cursor: not-allowed;
    filter: grayscale(1);
    background-color: var(--newCommunityTheme-buttonTinted80);
    color: var(--newCommunityTheme-bodyAlpha50);
    fill: var(--newCommunityTheme-bodyAlpha50);
}