.create-post-page img{
    overflow-clip-margin: content-box;
    overflow: clip;
}

.create-post-page .font{
    font-family: "Noto Sans JP",Arial,sans-serif;
    font-style: normal;
}

.create-post-page {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
}

.create-post-page .font-sanss
{
    font-family: Arial,sans-serif;
}

.flex-flow{
    flex-flow: column nowrap;
}

.content-box{
    overflow-clip-margin: content-box;
}

.create-post-page .icon{
    font-size: 20px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    width: 20px;
}

.create-post-page .word-wrap-break-word{
    word-wrap: break-word;
}

.theme-light .create-post-page{
    --background: #FFFFFF;
    --canvas: #DAE0E6;
    --newCommunityTheme-actionIcon: #878A8C;
    --newCommunityTheme-actionIconAlpha20: rgba(135, 138, 140, 0.2);
    --newCommunityTheme-actionIconAlpha50: rgba(135, 138, 140, 0.5);
    --newCommunityTheme-actionIconShaded80: #6c6e70;
    --newCommunityTheme-actionIconTinted80: #9fa1a3;
    --newCommunityTheme-active: #aa9655;
    --newCommunityTheme-activeAlpha10: rgba(170, 150, 85, 0.1);
    --newCommunityTheme-activeAlpha20: rgba(170, 150, 85, 0.2);
    --newCommunityTheme-activeAlpha50: rgba(170, 150, 85, 0.5);
    --newCommunityTheme-activeLight60: #bbab77;
    --newCommunityTheme-activeShaded80: #887844;
    --newCommunityTheme-activeShaded90: #99874c;
    --newCommunityTheme-activeTinted05: #faf9f6;
    --newCommunityTheme-backgroundImage: initial;
    --newCommunityTheme-backgroundImagePosition: cover;
    --newCommunityTheme-banner-backgroundColor: #0079d3;
    --newCommunityTheme-banner-backgroundImage: url(https://styles.redditmedia.com/t5_2rfz5/styles/bannerBackgroundImage_xb6i06dqkbxb1.png?);
    --newCommunityTheme-banner-iconImage: url(https://styles.redditmedia.com/t5_2rfz5/styles/communityIcon_0jgg9qqdkbxb1.png?);
    --newCommunityTheme-banner-backgroundImagePosition: cover;
    --newCommunityTheme-banner-communityNameFormat: hide;
    --newCommunityTheme-banner-height: 164;
    --newCommunityTheme-banner-iconColor: #aa9655;
    --newCommunityTheme-banner-iconDimensions-borderRadius: 32;
    --newCommunityTheme-banner-iconDimensions-customSize: 52;
    --newCommunityTheme-banner-iconDimensions-padding: 10;
    --newCommunityTheme-banner-iconDimensions-size: 36;
    --newCommunityTheme-banner-lineHeight: 60;
    --newCommunityTheme-banner-positionedImage: initial;
    --newCommunityTheme-banner-positionedImageAlignment: left;
    --newCommunityTheme-banner-positionedImageHeight: 112;
    --newCommunityTheme-banner-secondaryBannerPositionedImage: initial;
    --newCommunityTheme-body: #FFFFFF;
    --newCommunityTheme-bodyAlpha50: rgba(255, 255, 255, 0.5);
    --newCommunityTheme-bodyAlpha70: rgba(255, 255, 255, 0.7);
    --newCommunityTheme-bodyAlpha80: rgba(255, 255, 255, 0.8);
    --newCommunityTheme-bodyFade: #FFFFFF00;
    --newCommunityTheme-bodyShaded80: #ccc;
    --newCommunityTheme-bodyText: #191919;
    --newCommunityTheme-bodyTextAlpha03: rgba(25, 25, 25, 0.03);
    --newCommunityTheme-bodyTextAlpha20: rgba(25, 25, 25, 0.2);
    --newCommunityTheme-bodyTextShaded20: #050505;
    --newCommunityTheme-bodyTextTinted20: #d1d1d1;
    --newCommunityTheme-bodyTinted50: #fff;
    --newCommunityTheme-bodyTinted80: #fff;
    --newCommunityTheme-button: #d0372f;
    --newCommunityTheme-buttonAlpha05: rgba(208, 55, 47, 0.05);
    --newCommunityTheme-buttonAlpha10: rgba(208, 55, 47, 0.1);
    --newCommunityTheme-buttonAlpha20: rgba(208, 55, 47, 0.2);
    --newCommunityTheme-buttonAlpha40: rgba(208, 55, 47, 0.4);
    --newCommunityTheme-buttonAlpha50: rgba(208, 55, 47, 0.5);
    --newCommunityTheme-buttonAlpha80: rgba(208, 55, 47, 0.8);
    --newCommunityTheme-buttonShaded80: #a62c25;
    --newCommunityTheme-buttonTinted20: #f5d7d5;
    --newCommunityTheme-buttonTinted50: #e79b97;
    --newCommunityTheme-buttonTinted80: #d95e58;
    --newCommunityTheme-canvas: #e8bb17;
    --newCommunityTheme-canvasImgPosition: centered;
    --newCommunityTheme-canvasImgUrl: initial;
    --newCommunityTheme-checkbox: #000000;
    --newCommunityTheme-errorText: #FF0000;
    --newCommunityTheme-field: #F6F7F8;
    --newCommunityTheme-fieldFade: #F6F7F800;
    --newCommunityTheme-flair: #EDEFF1;
    --newCommunityTheme-highlight: #e3e2dc;
    --newCommunityTheme-inactive: #EDEFF1;
    --newCommunityTheme-invertFilter: invert(0);
    --newCommunityTheme-lightText: #FFFFFF;
    --newCommunityTheme-lightTextAlpha75: rgba(255, 255, 255, 0.75);
    --newCommunityTheme-line: #EDEFF1;
    --newCommunityTheme-lineShaded80: #bdbfc0;
    --newCommunityTheme-lineShaded90: #d5d7d8;
    --newCommunityTheme-lineShadedNinety: #d5d7d8;
    --newCommunityTheme-linkText: #d0372f;
    --newCommunityTheme-linkTextAlpha80: rgba(208, 55, 47, 0.5);
    --newCommunityTheme-linkTextShaded80: #a62c25;
    --newCommunityTheme-linkTextTinted80: #d95e58;
    --newCommunityTheme-linkTextWithBody: #3f9ade;
    --newCommunityTheme-menu: #edeff1;
    --newCommunityTheme-menuActiveText: #300d82;
    --newCommunityTheme-menuButtonBackground-active: rgba(0, 0, 0, 0.08);
    --newCommunityTheme-menuButtonBackground-focus: rgba(0, 0, 0, 0.12);
    --newCommunityTheme-menuButtonBackground-hover: rgba(0, 0, 0, 0.04);
    --newCommunityTheme-menuInactiveText: #373c3f;
    --newCommunityTheme-metaText: #727373;
    --newCommunityTheme-monospaceColor: #FF006D;
    --newCommunityTheme-navBar-activeLink: #300d82;
    --newCommunityTheme-navBar-activeSubmenuCaret: #aa9655;
    --newCommunityTheme-navBar-activeSubmenuLink: #aa9655;
    --newCommunityTheme-navBar-backgroundColor: rgba(237, 239, 241, 0.3);
    --newCommunityTheme-navBar-backgroundImage: initial;
    --newCommunityTheme-navBar-hoverLink: #007373;
    --newCommunityTheme-navBar-inactiveLink: #373c3f;
    --newCommunityTheme-navBar-inactiveSubmenuCaret: #bbab77;
    --newCommunityTheme-navBar-inactiveSubmenuLink: #bbab77;
    --newCommunityTheme-navBar-submenuBackgroundColor: #edeff1;
    --newCommunityTheme-navIcon: #1A1A1B;
    --newCommunityTheme-navIconFaded10: rgba(26, 26, 27, 0.1);
    --newCommunityTheme-nsfwBlocking-bgcolor: #edeff1;
    --newCommunityTheme-nsfwBlocking-color: #030303;
    --newCommunityTheme-nsfwBlocking-contentTitleBgColor: #f6f7f8;
    --newCommunityTheme-nsfwBlocking-mainCtaBgColor: #fff;
    --newCommunityTheme-orangeRed: #FF4500;
    --newCommunityTheme-pageHeader: #0079D3;
    --newCommunityTheme-placeholder: #c4c5c5;
    --newCommunityTheme-placeholderImage: url(https://styles.redditmedia.com/t5_2rfz5/styles/postPlaceholderImage_v35nuzzgd2g01.png);
    --newCommunityTheme-placeholderImagePosition: cover;
    --newCommunityTheme-post: #eaebeb;
    --newCommunityTheme-postError: #ecd3d3;
    --newCommunityTheme-postFlairText: #1A1A1B;
    --newCommunityTheme-postIcon: #7e7e7e;
    --newCommunityTheme-postLine: #bbbcbc;
    --newCommunityTheme-postLineShaded80: #959696;
    --newCommunityTheme-postLineShaded90: #a8a9a9;
    --newCommunityTheme-postTinted20: #fafbfb;
    --newCommunityTheme-postTransparent20: rgba(234, 235, 235, 0.8);
    --newCommunityTheme-primaryButtonShadedEighty: #887844;
    --newCommunityTheme-primaryButtonTintedEighty: #bbab76;
    --newCommunityTheme-primaryButtonTintedFifty: #d4caaa;
    --newCommunityTheme-primaryButtonTintedSixty: #ccc099;
    --newCommunityTheme-report: #ece5d3;
    --newCommunityTheme-textTransparentizedEighty: rgba(26, 26, 27, 0.2);
    --newCommunityTheme-titleText: #000000;
    --newCommunityTheme-voteIcons-downvoteActive: url(https://styles.redditmedia.com/t5_2rfz5/styles/postDownvoteIconActive_r6sgy6ui4yo01.png);
    --newCommunityTheme-voteIcons-downvoteInactive: url(https://styles.redditmedia.com/t5_2rfz5/styles/postDownvoteIconInactive_nxqb4idi4yo01.png);
    --newCommunityTheme-voteIcons-upvoteActive: url(https://styles.redditmedia.com/t5_2rfz5/styles/postUpvoteIconActive_0js8p4wh4yo01.png);
    --newCommunityTheme-voteIcons-upvoteInactive: url(https://styles.redditmedia.com/t5_2rfz5/styles/postUpvoteIconInactive_nhuyqafh4yo01.png);
    --newCommunityTheme-voteText-base: #7e7e7e;
    --newCommunityTheme-voteText-downvote: #7193FF;
    --newCommunityTheme-voteText-downvoteShaded80: #5a75cc;
    --newCommunityTheme-voteText-downvoteTinted80: #8da8ff;
    --newCommunityTheme-voteText-upvote: #FF4500;
    --newCommunityTheme-voteText-upvoteShaded80: #cc3700;
    --newCommunityTheme-voteText-upvoteTinted80: #ff6a32;
    --newCommunityTheme-widgetColors-lineColor: rgba(26, 26, 27, 0.07);
    --newCommunityTheme-widgetColors-sidebarWidgetBackgroundColor: #FFFFFF;
    --newCommunityTheme-widgetColors-sidebarWidgetBorderColor: #ccc;
    --newCommunityTheme-widgetColors-sidebarWidgetHeaderColor: #ffffff;
    --newCommunityTheme-widgetColors-sidebarWidgetHeaderColorAlpha60: rgba(170, 150, 85, 0.6);
    --newCommunityTheme-widgetColors-sidebarWidgetTextColor: #1A1A1B;
    --newCommunityTheme-widgetColors-sidebarWidgetTextColorShaded80: #141415;
    --newCommunityTheme-widgetColors-sidebarWidgetTitleColor: #1f1e1e;
    --newCommunityTheme-wordmark: #ff4500;
    --newRedditTheme-actionIcon: #878A8C;
    --newRedditTheme-actionIconAlpha20: rgba(135, 138, 140, 0.2);
    --newRedditTheme-actionIconAlpha50: rgba(135, 138, 140, 0.5);
    --newRedditTheme-actionIconShaded80: #6c6e70;
    --newRedditTheme-actionIconTinted80: #9fa1a3;
    --newRedditTheme-active: #24A0ED;
    --newRedditTheme-activeAlpha10: rgba(36, 160, 237, 0.1);
    --newRedditTheme-activeAlpha20: rgba(36, 160, 237, 0.2);
    --newRedditTheme-activeAlpha50: rgba(36, 160, 237, 0.5);
    --newRedditTheme-activeLight60: #42adf0;
    --newRedditTheme-activeShaded80: #1c80bd;
    --newRedditTheme-activeShaded90: #2090d5;
    --newRedditTheme-activeTinted05: #f4fafe;
    --newRedditTheme-banner-backgroundColor: #24A0ED;
    --newRedditTheme-banner-backgroundImage: initial;
    --newRedditTheme-banner-backgroundImagePosition: cover;
    --newRedditTheme-banner-communityNameFormat: slashtag;
    --newRedditTheme-banner-height: 64;
    --newRedditTheme-banner-iconColor: #24A0ED;
    --newRedditTheme-banner-iconDimensions-borderRadius: 24;
    --newRedditTheme-banner-iconDimensions-customSize: 32;
    --newRedditTheme-banner-iconDimensions-padding: 6;
    --newRedditTheme-banner-iconDimensions-size: 24;
    --newRedditTheme-banner-iconImage: initial;
    --newRedditTheme-banner-lineHeight: 38;
    --newRedditTheme-banner-positionedImage: initial;
    --newRedditTheme-banner-positionedImageAlignment: cover;
    --newRedditTheme-banner-positionedImageHeight: 48;
    --newRedditTheme-banner-secondaryBannerPositionedImage: initial;
    --newRedditTheme-body: #FFFFFF;
    --newRedditTheme-bodyAlpha50: rgba(255, 255, 255, 0.5);
    --newRedditTheme-bodyAlpha70: rgba(255, 255, 255, 0.7);
    --newRedditTheme-bodyAlpha80: rgba(255, 255, 255, 0.8);
    --newRedditTheme-bodyFade: #FFFFFF00;
    --newRedditTheme-bodyShaded80: #ccc;
    --newRedditTheme-bodyText: #1c1c1c;
    --newRedditTheme-bodyTextAlpha03: rgba(28, 28, 28, 0.03);
    --newRedditTheme-bodyTextAlpha20: rgba(28, 28, 28, 0.2);
    --newRedditTheme-bodyTextShaded20: #050505;
    --newRedditTheme-bodyTextTinted20: #d1d1d1;
    --newRedditTheme-bodyTinted50: #fff;
    --newRedditTheme-bodyTinted80: #fff;
    --newRedditTheme-button: #0079D3;
    --newRedditTheme-buttonAlpha05: rgba(0, 121, 211, 0.05);
    --newRedditTheme-buttonAlpha10: rgba(0, 121, 211, 0.1);
    --newRedditTheme-buttonAlpha20: rgba(0, 121, 211, 0.2);
    --newRedditTheme-buttonAlpha40: rgba(0, 121, 211, 0.4);
    --newRedditTheme-buttonAlpha50: rgba(0, 121, 211, 0.5);
    --newRedditTheme-buttonAlpha80: rgba(0, 121, 211, 0.8);
    --newRedditTheme-buttonShaded80: #0060a8;
    --newRedditTheme-buttonTinted20: #cce4f6;
    --newRedditTheme-buttonTinted50: #7fbce9;
    --newRedditTheme-buttonTinted80: #3293db;
    --newRedditTheme-canvas: #DAE0E6;
    --newRedditTheme-checkbox: #000000;
    --newRedditTheme-errorText: #FF0000;
    --newRedditTheme-field: #F6F7F8;
    --newRedditTheme-fieldFade: #F6F7F800;
    --newRedditTheme-flair: #EDEFF1;
    --newRedditTheme-highlight: #e9f5fd;
    --newRedditTheme-inactive: #EDEFF1;
    --newRedditTheme-invertFilter: invert(0);
    --newRedditTheme-lightText: #FFFFFF;
    --newRedditTheme-lightTextAlpha75: rgba(255, 255, 255, 0.75);
    --newRedditTheme-line: #EDEFF1;
    --newRedditTheme-lineShaded80: #bdbfc0;
    --newRedditTheme-lineShaded90: #d5d7d8;
    --newRedditTheme-linkText: #0079D3;
    --newRedditTheme-linkTextAlpha80: rgba(0, 121, 211, 0.5);
    --newRedditTheme-linkTextShaded80: #0060a8;
    --newRedditTheme-linkTextTinted80: #3293db;
    --newRedditTheme-linkTextWithBody: #3f9ade;
    --newRedditTheme-menu: #FFFFFF;
    --newRedditTheme-menuActiveText: #0079D3;
    --newRedditTheme-menuButtonBackground-active: rgba(0, 0, 0, 0.08);
    --newRedditTheme-menuButtonBackground-focus: rgba(0, 0, 0, 0.12);
    --newRedditTheme-menuButtonBackground-hover: rgba(0, 0, 0, 0.04);
    --newRedditTheme-menuInactiveText: #0079D3;
    --newRedditTheme-metaText: #7c7c7c;
    --newRedditTheme-metaTextAlpha50: rgba(120, 124, 126, 0.5);
    --newRedditTheme-metaTextShaded80: #606364;
    --newRedditTheme-monospaceColor: #FF006D;
    --newRedditTheme-navBar-activeLink: #E9F5FD;
    --newRedditTheme-navBar-activeSubmenuCaret: #24A0ED;
    --newRedditTheme-navBar-activeSubmenuLink: #24A0ED;
    --newRedditTheme-navBar-backgroundColor: #24A0ED;
    --newRedditTheme-navBar-backgroundImage: initial;
    --newRedditTheme-navBar-hoverLink: #E9F5FD;
    --newRedditTheme-navBar-inactiveLink: #EDEFF1;
    --newRedditTheme-navBar-inactiveSubmenuCaret: #42adf0;
    --newRedditTheme-navBar-inactiveSubmenuLink: #42adf0;
    --newRedditTheme-navBar-submenuBackgroundColor: #def1fc;
    --newRedditTheme-navIcon: #1A1A1B;
    --newRedditTheme-navIconFaded10: rgba(26, 26, 27, 0.1);
    --newRedditTheme-nsfw: #ff585b;
    --newRedditTheme-nsfwBlocking-bgcolor: #edeff1;
    --newRedditTheme-nsfwBlocking-color: #030303;
    --newRedditTheme-nsfwBlocking-contentTitleBgColor: #f6f7f8;
    --newRedditTheme-nsfwBlocking-mainCtaBgColor: #fff;
    --newRedditTheme-orangeRed: #FF4500;
    --newRedditTheme-pageHeader: #0079D3;
    --newRedditTheme-placeholder: #d6d6d6;
    --newRedditTheme-post: #FFFFFF;
    --newRedditTheme-postError: #ffe5e5;
    --newRedditTheme-postFlairText: #1A1A1B;
    --newRedditTheme-postIcon: #898989;
    --newRedditTheme-postLine: #ccc;
    --newRedditTheme-postLineShaded80: #a3a3a3;
    --newRedditTheme-postLineShaded90: #b7b7b7;
    --newRedditTheme-postTinted20: #fff;
    --newRedditTheme-postTransparent20: rgba(255, 255, 255, 0.8);
    --newRedditTheme-quarantine: #ffb000;
    --newRedditTheme-report: #fff7e5;
    --newRedditTheme-search-syntaxHighlightBackgroundColor: #E9F5FD;
    --newRedditTheme-search-syntaxHighlightColor: #1A1A1A;
    --newRedditTheme-titleText: #1A1A1B;
    --newRedditTheme-upsell-appleIcon: #000000;
    --newRedditTheme-upsell-ssoButtonBorderColor: #D3D6DA;
    --newRedditTheme-upsell-ssoButtonTextColor: #3D4043;
    --newRedditTheme-voteIcons-downvoteActive: initial;
    --newRedditTheme-voteIcons-downvoteInactive: initial;
    --newRedditTheme-voteIcons-upvoteActive: initial;
    --newRedditTheme-voteIcons-upvoteInactive: initial;
    --newRedditTheme-voteText-base: #898989;
    --newRedditTheme-voteText-downvote: #7193FF;
    --newRedditTheme-voteText-downvoteShaded80: #5a75cc;
    --newRedditTheme-voteText-downvoteTinted80: #8da8ff;
    --newRedditTheme-voteText-upvote: #FF4500;
    --newRedditTheme-voteText-upvoteShaded80: #cc3700;
    --newRedditTheme-voteText-upvoteTinted80: #ff6a32;
    --newRedditTheme-widgetColors-lineColor: rgba(26, 26, 27, 0.07);
    --newRedditTheme-widgetColors-sidebarWidgetBackgroundColor: #FFFFFF;
    --newRedditTheme-widgetColors-sidebarWidgetBorderColor: #ccc;
    --newRedditTheme-widgetColors-sidebarWidgetHeaderColor: #ffffff;
    --newRedditTheme-widgetColors-sidebarWidgetHeaderColorAlpha60: rgba(255, 255, 255, 0.6);
    --newRedditTheme-widgetColors-sidebarWidgetTextColor: #1A1A1B;
    --newRedditTheme-widgetColors-sidebarWidgetTextColorShaded80: #141415;
    --newRedditTheme-widgetColors-sidebarWidgetTitleColor: #1A1A1B;
    --newRedditTheme-wordmark: #ff4500;
    --subredditContext-isCommentsPage: initial;
    --subredditContext-isOverlay: initial;
}

.theme-dark .create-post-page{
    --background: #1A1A1B;
    --canvas: #030303;
    --newCommunityTheme-actionIcon: #818384;
    --newCommunityTheme-actionIconAlpha20: rgba(129, 131, 132, 0.2);
    --newCommunityTheme-actionIconAlpha50: rgba(129, 131, 132, 0.5);
    --newCommunityTheme-actionIconShaded80: #676869;
    --newCommunityTheme-actionIconTinted80: #9a9b9c;
    --newCommunityTheme-active: #0079D3;
    --newCommunityTheme-activeAlpha10: rgba(0, 121, 211, 0.1);
    --newCommunityTheme-activeAlpha20: rgba(0, 121, 211, 0.2);
    --newCommunityTheme-activeAlpha50: rgba(0, 121, 211, 0.1);
    --newCommunityTheme-activeLight60: #33a8ff;
    --newCommunityTheme-activeShaded80: #0060a8;
    --newCommunityTheme-activeShaded90: #006cbd;
    --newCommunityTheme-activeTinted05: #f2f8fc;
    --newCommunityTheme-banner-backgroundColor: #006cbd;
    --newCommunityTheme-banner-backgroundImage: url(https://styles.redditmedia.com/t5_2rfz5/styles/bannerBackgroundImage_xb6i06dqkbxb1.png?width=4000&s=99e149c…);
    --newCommunityTheme-banner-backgroundImagePosition: cover;
    --newCommunityTheme-banner-communityNameFormat: hide;
    --newCommunityTheme-banner-height: 164;
    --newCommunityTheme-banner-iconColor: #aa9655;
    --newCommunityTheme-banner-iconDimensions-borderRadius: 32;
    --newCommunityTheme-banner-iconDimensions-customSize: 52;
    --newCommunityTheme-banner-iconDimensions-padding: 10;
    --newCommunityTheme-banner-iconDimensions-size: 36;
    --newCommunityTheme-banner-iconImage: url(https://styles.redditmedia.com/t5_2rfz5/styles/communityIcon_0jgg9qqdkbxb1.png?width=256&s=7f69e7c…);
    --newCommunityTheme-banner-lineHeight: 60;
    --newCommunityTheme-banner-positionedImage: initial;
    --newCommunityTheme-banner-positionedImageAlignment: left;
    --newCommunityTheme-banner-positionedImageHeight: 112;
    --newCommunityTheme-banner-secondaryBannerPositionedImage: initial;
    --newCommunityTheme-body: #1A1A1B;
    --newCommunityTheme-bodyAlpha50: rgba(26, 26, 27, 0.5);
    --newCommunityTheme-bodyAlpha70: rgba(26, 26, 27, 0.7);
    --newCommunityTheme-bodyAlpha80: rgba(26, 26, 27, 0.8);
    --newCommunityTheme-bodyFade: #1A1A1B00;
    --newCommunityTheme-bodyShaded80: #141415;
    --newCommunityTheme-bodyText: #D7DADC;
    --newCommunityTheme-bodyTextAlpha03: rgba(215, 218, 220, 0.03);
    --newCommunityTheme-bodyTextAlpha20: rgba(215, 218, 220, 0.2);
    --newCommunityTheme-bodyTextShaded20: #2b2b2c;
    --newCommunityTheme-bodyTextTinted20: #f7f7f8;
    --newCommunityTheme-bodyTinted50: #8c8c8d;
    --newCommunityTheme-bodyTinted80: #474748;
    --newCommunityTheme-button: #D7DADC;
    --newCommunityTheme-buttonAlpha05: rgba(215, 218, 220, 0.05);
    --newCommunityTheme-buttonAlpha10: rgba(215, 218, 220, 0.1);
    --newCommunityTheme-buttonAlpha20: rgba(215, 218, 220, 0.2);
    --newCommunityTheme-buttonAlpha40: rgba(215, 218, 220, 0.4);
    --newCommunityTheme-buttonAlpha50: rgba(215, 218, 220, 0.5);
    --newCommunityTheme-buttonAlpha80: rgba(215, 218, 220, 0.8);
    --newCommunityTheme-buttonShaded80: #acaeb0;
    --newCommunityTheme-buttonTinted20: #f7f7f8;
    --newCommunityTheme-buttonTinted50: #ebeced;
    --newCommunityTheme-buttonTinted80: #dfe1e3;
    --newCommunityTheme-canvas: #030303;
    --newCommunityTheme-checkbox: #FFFFFF;
    --newCommunityTheme-errorText: #FF0000;
    --newCommunityTheme-field: #272729;
    --newCommunityTheme-fieldFade: #27272900;
    --newCommunityTheme-flair: #343536;
    --newCommunityTheme-highlight: #17232D;
    --newCommunityTheme-inactive: #343536;
    --newCommunityTheme-invertFilter: invert(0.9);
    --newCommunityTheme-lightText: #FFFFFF;
    --newCommunityTheme-lightTextAlpha75: rgba(255, 255, 255, 0.75);
    --newCommunityTheme-line: #343536;
    --newCommunityTheme-lineShaded80: #292a2b;
    --newCommunityTheme-lineShaded90: #2e2f30;
    --newCommunityTheme-lineShadedNinety: #2e2f30;
    --newCommunityTheme-linkText: #4FBCFF;
    --newCommunityTheme-linkTextAlpha80: rgba(79, 188, 255, 0.5);
    --newCommunityTheme-linkTextShaded80: #3f96cc;
    --newCommunityTheme-linkTextTinted80: #72c9ff;
    --newCommunityTheme-linkTextWithBody: #4193c6;
    --newCommunityTheme-menu: #030303;
    --newCommunityTheme-menuActiveText: #D7DADC;
    --newCommunityTheme-menuButtonBackground-active: rgba(255, 255, 255, 0.08);
    --newCommunityTheme-menuButtonBackground-focus: rgba(255, 255, 255, 0.12);
    --newCommunityTheme-menuButtonBackground-hover: rgba(255, 255, 255, 0.04);
    --newCommunityTheme-menuInactiveText: #D7DADC;
    --newCommunityTheme-metaText: #818384;
    --newCommunityTheme-metaTextAlpha50: rgba(129, 131, 132, 0.5);
    --newCommunityTheme-metaTextShaded80: #676869;
    --newCommunityTheme-monospaceColor: #5291f8;
    --newCommunityTheme-navBar-activeLink: #E9F5FD;
    --newCommunityTheme-navBar-activeSubmenuCaret: #D7DADC;
    --newCommunityTheme-navBar-activeSubmenuLink: #D7DADC;
    --newCommunityTheme-navBar-backgroundColor: #030303;
    --newCommunityTheme-navBar-backgroundImage: initial;
    --newCommunityTheme-navBar-hoverLink: #D7DADC;
    --newCommunityTheme-navBar-inactiveLink: #D7DADC;
    --newCommunityTheme-navBar-inactiveSubmenuCaret: #D7DADC;
    --newCommunityTheme-navBar-inactiveSubmenuLink: #D7DADC;
    --newCommunityTheme-navBar-submenuBackgroundColor: #1A1A1B;
    --newCommunityTheme-navIcon: #D7DADC;
    --newCommunityTheme-navIconFaded10: rgba(215, 218, 220, 0.1);
    --newCommunityTheme-nsfw: #ff585b;
    --newCommunityTheme-nsfwBlocking-bgcolor: #030303;
    --newCommunityTheme-nsfwBlocking-color: #ffffff;
    --newCommunityTheme-nsfwBlocking-contentTitleBgColor: #272729;
    --newCommunityTheme-nsfwBlocking-mainCtaBgColor: #1a1a1b;
    --newCommunityTheme-pageHeader: #818384;
    --newCommunityTheme-placeholder: #3A3A3C;
    --newCommunityTheme-post: #1A1A1B;
    --newCommunityTheme-postError: #301718;
    --newCommunityTheme-postFlairText: #FFFFFF;
    --newCommunityTheme-postIcon: #818384;
    --newCommunityTheme-postLine: #343536;
    --newCommunityTheme-postLineShaded80: #292a2b;
    --newCommunityTheme-postLineShaded90: #2e2f30;
    --newCommunityTheme-postTinted20: #d1d1d1;
    --newCommunityTheme-postTransparent20: rgba(26, 26, 27, 0.8);
    --newCommunityTheme-primaryButtonShadedEighty: #acaeb0;
    --newCommunityTheme-primaryButtonTintedEighty: #dfe1e3;
    --newCommunityTheme-primaryButtonTintedFifty: #ebeced;
    --newCommunityTheme-primaryButtonTintedSixty: #e7e8ea;
    --newCommunityTheme-quarantine: #ffb000;
    --newCommunityTheme-report: #1C1402;
    --newCommunityTheme-search-syntaxHighlightBackgroundColor: #FFF7E5;
    --newCommunityTheme-search-syntaxHighlightColor: #0a0a0a;
    --newCommunityTheme-titleText: #D7DADC;
    --newCommunityTheme-upsell-appleIcon: #7d7d7d;
    --newCommunityTheme-upsell-ssoButtonBorderColor: #D7DADC;
    --newCommunityTheme-upsell-ssoButtonTextColor: #D7DADC;
    --newCommunityTheme-voteIcons-downvoteActive: initial;
    --newCommunityTheme-voteIcons-downvoteInactive: initial;
    --newCommunityTheme-voteIcons-upvoteActive: initial;
    --newCommunityTheme-voteIcons-upvoteInactive: initial;
    --newCommunityTheme-voteText-base: #818384;
    --newCommunityTheme-voteText-downvote: #7193FF;
    --newCommunityTheme-voteText-downvoteShaded80: #5a75cc;
    --newCommunityTheme-voteText-downvoteTinted80: #8da8ff;
    --newCommunityTheme-voteText-upvote: #FF4500;
    --newCommunityTheme-voteText-upvoteShaded80: #cc3700;
    --newCommunityTheme-voteText-upvoteTinted80: #ff6a32;
    --newCommunityTheme-widgetColors-appleIcon: #7d7d7d;
    --newCommunityTheme-widgetColors-lineColor: #343536;
    --newCommunityTheme-widgetColors-sidebarWidgetBackgroundColor: #1A1A1B;
    --newCommunityTheme-widgetColors-sidebarWidgetBorderColor: #474748;
    --newCommunityTheme-widgetColors-sidebarWidgetHeaderColor: #1A1A1B;
    --newCommunityTheme-widgetColors-sidebarWidgetHeaderColorAlpha60: rgba(26, 26, 27, 0.6);
    --newCommunityTheme-widgetColors-sidebarWidgetTextColor: #D7DADC;
    --newCommunityTheme-widgetColors-sidebarWidgetTextColorShaded80: #acaeb0;
    --newCommunityTheme-widgetColors-sidebarWidgetTitleColor: #818384;
    --newCommunityTheme-wordmark: #FFFFFF;
    --newRedditTheme-actionIcon: #818384;
    --newRedditTheme-actionIconAlpha20: rgba(129, 131, 132, 0.2);
    --newRedditTheme-actionIconAlpha50: rgba(129, 131, 132, 0.5);
    --newRedditTheme-actionIconShaded80: #676869;
    --newRedditTheme-actionIconTinted80: #9a9b9c;
    --newRedditTheme-active: #0079D3;
    --newRedditTheme-activeAlpha10: rgba(0, 121, 211, 0.1);
    --newRedditTheme-activeAlpha20: rgba(0, 121, 211, 0.2);
    --newRedditTheme-activeAlpha50: rgba(0, 121, 211, 0.5);
    --newRedditTheme-activeLight60: #33a8ff;
    --newRedditTheme-activeShaded80: #0060a8;
    --newRedditTheme-activeShaded90: #006cbd;
    --newRedditTheme-activeTinted05: #f2f8fc;
    --newRedditTheme-banner-backgroundColor: #24A0ED;
    --newRedditTheme-banner-backgroundImage: initial;
    --newRedditTheme-banner-backgroundImagePosition: cover;
    --newRedditTheme-banner-communityNameFormat: slashtag;
    --newRedditTheme-banner-height: 64;
    --newRedditTheme-banner-iconColor: #24A0ED;
    --newRedditTheme-banner-iconDimensions-borderRadius: 24;
    --newRedditTheme-banner-iconDimensions-customSize: 32;
    --newRedditTheme-banner-iconDimensions-padding: 6;
    --newRedditTheme-banner-iconDimensions-size: 24;
    --newRedditTheme-banner-iconImage: initial;
    --newRedditTheme-banner-lineHeight: 38;
    --newRedditTheme-banner-positionedImage: initial;
    --newRedditTheme-banner-positionedImageAlignment: cover;
    --newRedditTheme-banner-positionedImageHeight: 48;
    --newRedditTheme-banner-secondaryBannerPositionedImage: initial;
    --newRedditTheme-body: #1A1A1B;
    --newRedditTheme-bodyAlpha50: rgba(26, 26, 27, 0.5);
    --newRedditTheme-bodyAlpha70: rgba(26, 26, 27, 0.7);
    --newRedditTheme-bodyAlpha80: rgba(26, 26, 27, 0.8);
    --newRedditTheme-bodyFade: #1A1A1B00;
    --newRedditTheme-bodyShaded80: #141415;
    --newRedditTheme-bodyText: #D7DADC;
    --newRedditTheme-bodyTextAlpha03: rgba(215, 218, 220, 0.03);
    --newRedditTheme-bodyTextAlpha20: rgba(215, 218, 220, 0.2);
    --newRedditTheme-bodyTextShaded20: #2b2b2c;
    --newRedditTheme-bodyTextTinted20: #f7f7f8;
    --newRedditTheme-bodyTinted50: #8c8c8d;
    --newRedditTheme-bodyTinted80: #474748;
    --newRedditTheme-button: #D7DADC;
    --newRedditTheme-buttonAlpha05: rgba(215, 218, 220, 0.05);
    --newRedditTheme-buttonAlpha10: rgba(215, 218, 220, 0.1);
    --newRedditTheme-buttonAlpha20: rgba(215, 218, 220, 0.2);
    --newRedditTheme-buttonAlpha40: rgba(215, 218, 220, 0.4);
    --newRedditTheme-buttonAlpha50: rgba(215, 218, 220, 0.5);
    --newRedditTheme-buttonAlpha80: rgba(215, 218, 220, 0.8);
    --newRedditTheme-buttonShaded80: #acaeb0;
    --newRedditTheme-buttonTinted20: #f7f7f8;
    --newRedditTheme-buttonTinted50: #ebeced;
    --newRedditTheme-buttonTinted80: #dfe1e3;
    --newRedditTheme-canvas: #030303;
    --newRedditTheme-checkbox: #FFFFFF;
    --newRedditTheme-errorText: #FF0000;
    --newRedditTheme-field: #272729;
    --newRedditTheme-fieldFade: #27272900;
    --newRedditTheme-flair: #343536;
    --newRedditTheme-highlight: #17232D;
    --newRedditTheme-inactive: #343536;
    --newRedditTheme-invertFilter: invert(0.9);
    --newRedditTheme-lightText: #FFFFFF;
    --newRedditTheme-lightTextAlpha75: rgba(255, 255, 255, 0.75);
    --newRedditTheme-line: #343536;
    --newRedditTheme-lineShaded80: #292a2b;
    --newRedditTheme-lineShaded90: #2e2f30;
    --newRedditTheme-lineShadedNinety: #2e2f30;
    --newRedditTheme-linkText: #4FBCFF;
    --newRedditTheme-linkTextAlpha80: rgba(79, 188, 255, 0.5);
    --newRedditTheme-linkTextShaded80: #3f96cc;
    --newRedditTheme-linkTextTinted80: #72c9ff;
    --newRedditTheme-linkTextWithBody: #4193c6;
    --newRedditTheme-menu: #030303;
    --newRedditTheme-menuActiveText: #D7DADC;
    --newRedditTheme-menuButtonBackground-active: rgba(255, 255, 255, 0.08);
    --newRedditTheme-menuButtonBackground-focus: rgba(255, 255, 255, 0.12);
    --newRedditTheme-menuButtonBackground-hover: rgba(255, 255, 255, 0.04);
    --newRedditTheme-menuInactiveText: #D7DADC;
    --newRedditTheme-metaText: #818384;
    --newRedditTheme-metaTextAlpha50: rgba(129, 131, 132, 0.5);
    --newRedditTheme-metaTextShaded80: #676869;
    --newRedditTheme-monospaceColor: #5291f8;
    --newRedditTheme-navBar-activeLink: #E9F5FD;
    --newRedditTheme-navBar-activeSubmenuCaret: #D7DADC;
    --newRedditTheme-navBar-activeSubmenuLink: #D7DADC;
    --newRedditTheme-navBar-backgroundColor: #030303;
    --newRedditTheme-navBar-backgroundImage: initial;
    --newRedditTheme-navBar-hoverLink: #D7DADC;
    --newRedditTheme-navBar-inactiveLink: #D7DADC;
    --newRedditTheme-navBar-inactiveSubmenuCaret: #D7DADC;
    --newRedditTheme-navBar-inactiveSubmenuLink: #D7DADC;
    --newRedditTheme-navBar-submenuBackgroundColor: #1A1A1B;
    --newRedditTheme-navIcon: #D7DADC;
    --newRedditTheme-navIconFaded10: rgba(215, 218, 220, 0.1);
    --newRedditTheme-nsfw: #ff585b;
    --newRedditTheme-nsfwBlocking-bgcolor: #030303;
    --newRedditTheme-nsfwBlocking-color: #ffffff;
    --newRedditTheme-nsfwBlocking-contentTitleBgColor: #272729;
    --newRedditTheme-nsfwBlocking-mainCtaBgColor: #1a1a1b;
    --newRedditTheme-pageHeader: #818384;
    --newRedditTheme-placeholder: #3A3A3C;
    --newRedditTheme-post: #1A1A1B;
    --newRedditTheme-postError: #301718;
    --newRedditTheme-postFlairText: #FFFFFF;
    --newRedditTheme-postIcon: #818384;
    --newRedditTheme-postLine: #343536;
    --newRedditTheme-postLineShaded80: #292a2b;
    --newRedditTheme-postLineShaded90: #2e2f30;
    --newRedditTheme-postTinted20: #d1d1d1;
    --newRedditTheme-postTransparent20: rgba(26, 26, 27, 0.8);
    --newRedditTheme-primaryButtonShadedEighty: #acaeb0;
    --newRedditTheme-primaryButtonTintedEighty: #dfe1e3;
    --newRedditTheme-primaryButtonTintedFifty: #ebeced;
    --newRedditTheme-primaryButtonTintedSixty: #e7e8ea;
    --newRedditTheme-quarantine: #ffb000;
    --newRedditTheme-report: #1C1402;
    --newRedditTheme-search-syntaxHighlightBackgroundColor: #FFF7E5;
    --newRedditTheme-search-syntaxHighlightColor: #0a0a0a;
    --newRedditTheme-titleText: #D7DADC;
    --newRedditTheme-upsell-appleIcon: #7d7d7d;
    --newRedditTheme-upsell-ssoButtonBorderColor: #D7DADC;
    --newRedditTheme-upsell-ssoButtonTextColor: #D7DADC;
    --newRedditTheme-voteIcons-downvoteActive: initial;
    --newRedditTheme-voteIcons-downvoteInactive: initial;
    --newRedditTheme-voteIcons-upvoteActive: initial;
    --newRedditTheme-voteIcons-upvoteInactive: initial;
    --newRedditTheme-voteText-base: #818384;
    --newRedditTheme-voteText-downvote: #7193FF;
    --newRedditTheme-voteText-downvoteShaded80: #5a75cc;
    --newRedditTheme-voteText-downvoteTinted80: #8da8ff;
    --newRedditTheme-voteText-upvote: #FF4500;
    --newRedditTheme-voteText-upvoteShaded80: #cc3700;
    --newRedditTheme-voteText-upvoteTinted80: #ff6a32;
    --newRedditTheme-widgetColors-appleIcon: #7d7d7d;
    --newRedditTheme-widgetColors-lineColor: #343536;
    --newRedditTheme-widgetColors-sidebarWidgetBackgroundColor: #1A1A1B;
    --newRedditTheme-widgetColors-sidebarWidgetBorderColor: #474748;
    --newRedditTheme-widgetColors-sidebarWidgetHeaderColor: #1A1A1B;
    --newRedditTheme-widgetColors-sidebarWidgetHeaderColorAlpha60: rgba(26, 26, 27, 0.6);
    --newRedditTheme-widgetColors-sidebarWidgetTextColor: #D7DADC;
    --newRedditTheme-widgetColors-sidebarWidgetTextColorShaded80: #acaeb0;
    --newRedditTheme-widgetColors-sidebarWidgetTitleColor: #818384;
    --newRedditTheme-wordmark: #FFFFFF;
    --subredditContext-isCommentsPage: initial;
    --subredditContext-isOverlay: initial;
}