.create-post-page img{
    overflow-clip-margin: content-box;
    overflow: clip;
}

.create-post-page .font{
    font-family: "Noto Sans JP",Arial,sans-serif;
    font-style: normal;
}

.create-post-page {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
}

.create-post-page .font-sanss
{
    font-family: Arial,sans-serif;
}

.flex-flow{
    flex-flow: column nowrap;
}

.content-box{
    overflow-clip-margin: content-box;
}

.create-post-page .icon{
    font-size: 20px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    width: 20px;
}

.create-post-page .word-wrap-break-word{
    word-wrap: break-word;
}

