.editt-button-secondary {
    --button-color-background-default: var(--color-button-secondary-background);
    --button-color-background-focus: var(--color-button-secondary-background-focus);
    --button-color-background-hover: var(--color-button-secondary-background-hover);
    --button-color-background-active: linear-gradient(var(--color-button-secondary-background-hover), var(--color-button-secondary-background-hover));
    --button-color-background-disabled: var(--color-button-secondary-background-disabled);
    --button-color-background-activated: var(--color-button-secondary-background-activated);
    --button-color-text-default: var(--color-button-secondary-text);
    --button-color-text-disabled: var(--color-button-secondary-text-disabled);
    --button-color-text-activated: var(--color-button-secondary-text-activated);
    --button-border-color-default: var(--color-button-secondary-border);
}

.editt-button-x-small {
    --button-height: var(--size-button-xs-h);
    --button-padding: var(--spacer-sm);
    --button-font: var(--font-button-xs);
    --button-border-width-default: var(--line-button-xs-border);
}

.editt-button {
    background: var(--button-color-background);
    border-radius: 999px;
    border: none;
    border: var(--button-border-width, 0) solid var(--button-border-color, transparent);
    box-shadow: var(--button-shadow);
    box-sizing: border-box;
    color: var(--button-color-text);
    cursor: pointer;
    display: inline-block;
    font: var(--button-font);
    height: var(--button-height);
    line-height: calc(var(--button-height) - (2 * var(--button-border-width, 0px)));
    overflow: hidden;
    padding: 0 calc(var(--button-padding) - var(--button-border-width, 0px));
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    --button-border-color: var(--button-border-color-default);
    --button-border-width: var(--button-border-width-default);
    --button-color-background: var(--button-color-background-default);
    --button-color-text: var(--button-color-text-default);
}

/* .editt-button:hover {
    --button-color-overlay: var(--color-button-overlay-focus);
    --button-border-color: var(--button-border-color-hover);
    --button-color-background: var(--button-color-background-hover);
    --button-color-text: var(--button-color-text-hover, var(--button-color-text-default));
} */