@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* 
(OPTIONAL INSTEAD OF ABOVE)
@tailwind base;
@tailwind components;
@tailwind utilities;
*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* define global colors */
:root {
  --bg-neutral: #0b1416;
  --bg-neutral-hover: #131f23;
  --btn-color-bg: #1a282d;
  --btn-color-bg-hover: #223237;
  --btn-downvote-hover: #6a5cff;
  --btn-upvote-hover: #d93a00;
  --btn-color-text: #F2F4F5;
  --rem6: 0.375rem;
  --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  --font-12-16-semibold: normal 600 0.75rem / 1rem var(--font-sans);
  --font-button-sm: var(--font-12-16-semibold);
  --color-neutral-content: #b8c5c9;
  --color-neutral-content-strong: #F2F4F5;
  --color-neutral-content-weak: #82959B;
  --tooltip-content: #0f1a1c;
  --color-a-default: #629fff;
  --color-a-hover: #a7ccff;
  --color-neutral-border-weak: #ffffff1a;
  --size-lg: 1.5rem;
  --btn-primary-bg: #0045ac;
  --btn-primary-bg-hover: #1870f4;
  --shreddit-header-height: 56px;
  --styled-scrollbar-background:#ffffff;
  --shreddit-content-background:#ffffff;
  --button-height:2rem;

}

@media (prefers-color-scheme: dark) {
  :root {
    /* add dark scheme here */
    --bg-neutral: #0b1416;
    --bg-neutral-hover: #131f23;
    --btn-color-bg: #1a282d;
    --btn-color-bg-hover: #223237;
    --btn-downvote-hover: #6a5cff;
    --btn-upvote-hover: #d93a00;
    --btn-color-text: #F2F4F5;
    --rem6: 0.375rem;
    --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    --font-24: normal undefined null / null var(--font-sans);
    --font-32: normal undefined null / null var(--font-sans);
    --font-button-sm: normal 700 0.875rem/1.125rem var(--font-sans);
    --font-12-16-semibold: normal 600 0.75rem / 1rem var(--font-sans);
    --font-button-sm: var(--font-12-16-semibold);
    --color-neutral-content: #b8c5c9;
    --color-neutral-content-strong: #F2F4F5;
    --color-neutral-content-weak: #82959B;
    --color-primary-background: #014d88;
    --tooltip-content: #0f1a1c;
    --color-a-default: #629fff;
    --color-a-hover: #a7ccff;
    --color-neutral-border-weak: #ffffff1a;
    --size-lg: 1.5rem;
    --button-height : 2rem;
    --btn-primary-bg: #0045ac;
    --btn-primary-bg-hover: #1870f4;
    --color-neutral-border-medium: #ffffff80;
    --button-color-background: #EAEDEF;
    /***/
    --color-secondary-background-selected:#D2DADD;
    --color-neutral-content-strong: #0F1A1C;
    --color-neutral-content-weak:#576F76;
    --color-neutral-border-weak:#0000001a;
    --color-secondary:#0F1A1C;
    --color-neutral-background-weak: #F9FAFA;
    --color-neutral-background:#ffffff;
    --color-secondary-weak: #576F76;
    --button-color-background-hover:#e2e7e9;
    --button-border-color: #00000080;
    --button-border-color-hover: #000000;

  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* add light scheme here */
    --bg-neutral: #ffffff;
    --bg-neutral-hover: #F2F4F5;
  }
}